<!-- Division Top Boundary -->
<app-timeline-boundary
  *ngIf="!(division.type != 'Eon' && division == containers[0])"
  [value]="reverse ? division.end : division.start">
</app-timeline-boundary>

<!-- Division Body -->
<div class="division-body type-{{dType}} background-{{dName}}">

  <!-- Division Name -->
  <div class="division-name-container">
    <div class="division-name">{{division.name}} {{division.type}}</div>
    <div class="division-duration">
      <div>
        <span>{{division.start}}</span>
        <span *ngIf="division.end > 0"> - {{division.end}}</span>
        <span *ngIf="division.end == 0"> Million Years Ago - </span> 
      </div>
      <div>
        <span *ngIf="division.end > 0">Million Years Ago</span>
        <span *ngIf="division.end == 0">Present Time</span> 
      </div>
    </div>
    <div 
      *ngIf="division.showSubdivisions" 
      class="timeline-button" 
      (click)="toggleSubdivisions(containers, division.name)">Hide {{division.subdivisions[0].type}}s</div>
    <div 
      *ngIf="division.image" 
      class="division-image-container">
      <img src="./assets/img/{{dType}}/{{dName}}.jpg">
    </div>
  </div>

  <!-- Division Description -->
  <div 
    *ngIf="!division.showSubdivisions"
    class="division-description">
    <ul>
      <li *ngFor="let text of division.description" [innerHTML]="text"></li>
    </ul>
  </div>

  <!-- Subdivisions -->
  <div 
    *ngIf="division.subdivisions.length"
    class="subdivisions-container"
    [ngClass]="{
      'container-visible': division.showSubdivisions
    }">
    <app-division-container
      *ngFor="let subdivision of division.subdivisionContainers"
      [containers]="division.subdivisionContainers"
      [division]="subdivision"
      [reverse]="reverse">
    </app-division-container>
  </div>

  <!-- Subdivisions Button -->
  <div 
    *ngIf="division.subdivisions.length && !division.showSubdivisions" 
    class="timeline-button-container">
    <div 
      class="timeline-button" 
      (click)="toggleSubdivisions(containers, division.name)">Explore<br />{{division.subdivisions[0].type}}s</div>
  </div>

</div>

<!-- Division Bottom Boundary -->
<app-timeline-boundary
  *ngIf="division.type == 'Eon' && division == containers[containers.length - 1]"
  [value]="reverse ? division.start : division.end">
</app-timeline-boundary>
