<!-- Division Top Boundary -->
<app-timeline-boundary
  *ngIf="!(division.type != 'Eon' && division == containers[0])"
  [value]="reverse ? division.end : division.start">
</app-timeline-boundary>

<!-- Division Body -->
<div class="division-body">

  <!-- Division Name -->
  <div class="division-name">
    <span>{{division.name}} {{division.type}}</span>
    <div 
      *ngIf="division.showSubdivisions" 
      class="timeline-button" 
      (click)="toggleSubdivisions(containers, division.name)">Hide {{division.subdivisions[0].type}}s</div>
  </div>

  <!-- Division Description -->
  <div 
    *ngIf="!division.showSubdivisions"
    class="division-description">
    <ul>
      <li *ngFor="let text of division.description">{{text}}</li>
    </ul>
  </div>

  <!-- Subdivisions -->
  <div 
    *ngIf="division.subdivisions.length && division.showSubdivisions"
    class="divisions-container">
    <app-division-container
      *ngFor="let subdivision of division.subdivisionContainers"
      [containers]="division.subdivisionContainers"
      [division]="subdivision"
      [reverse]="reverse">
    </app-division-container>
  </div>

  <!-- Subdivisions Button -->
  <div 
    *ngIf="division.subdivisions.length && !division.showSubdivisions" 
    class="timeline-button-container">
    <div 
      class="timeline-button" 
      (click)="toggleSubdivisions(containers, division.name)">Explore<br />{{division.subdivisions[0].type}}s</div>
  </div>

</div>

<!-- Division Bottom Boundary -->
<app-timeline-boundary
  *ngIf="division.type == 'Eon' && division == containers[containers.length - 1]"
  [value]="reverse ? division.start : division.end">
</app-timeline-boundary>
