
:host {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 5px;
}


/*   Blocks   */

.side-panel-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 8px 5px 10px;
  border-radius: 4px;
  letter-spacing: 0.02em;
  text-shadow: 1px 1px #080808;
}

.side-panel-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #111;
  box-shadow: 0 0 3px 3px #141414 inset;
}

.side-panel-block.no-subdivisions {
  padding: 0;
}


/*   Timeline Division   */

.side-panel-division {
  display: flex;
  flex-basis: 100%;
}

.division-link {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 2px 2px 2px;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
}

.side-panel-block.type-era.block-collapsed .division-link,
.side-panel-block.type-period.block-collapsed .division-link {
  padding-bottom: 0;
  border-radius: 4px;
}

.side-panel-block.no-subdivisions .division-link,
.side-panel-block.type-era.block-collapsed.no-subdivisions .division-link,
.side-panel-block.type-period.block-collapsed.no-subdivisions .division-link  {
  padding: 5px 8px 5px 10px;
}

.division-name {
  padding-left: 4px;
  border-bottom: 1px dotted #666;
  transition: .2s;
}

.side-panel-block.no-subdivisions .division-name {
  padding: 0;
}

.side-panel-block.no-subdivisions.type-eon .division-name {
  padding-left: 4px;
}

.side-panel-block.block-collapsed .division-name {
  padding-bottom: 0;
  border-color: transparent;
}

.side-panel-block.block-collapsed.type-eon .division-name {
  border-color: #666;
}

.side-panel-block.type-eon .division-name {
  font-size: 20px;
}

.side-panel-block.type-era .division-name {
  font-size: 18px;
}

.side-panel-block.type-period .division-name {
  font-size: 17px;
}

.side-panel-block.type-epoch .division-name {
  font-size: 16px;
}

.division-duration {
  display: flex;
  padding-left: 4px;
  color: #999;
  font-size: 14px;
  color: #9c815f;
  animation: fadeIn .3s;
}

.side-panel-block.type-era.no-subdivisions .division-duration,
.side-panel-block.type-period.no-subdivisions .division-duration,
.side-panel-block.type-epoch .division-duration,
.side-panel-block.type-era.block-collapsed .division-duration,
.side-panel-block.type-period.block-collapsed .division-duration {
  display: none;
}

.division-duration span:first-of-type {
  margin-right: .5em;
}

@media (hover: hover) {
  .division-link:hover {
    background: rgba(255, 255, 255, .045);
  }
  .side-panel-block.type-era.no-subdivisions .division-link:hover,
  .side-panel-block.type-period.no-subdivisions .division-link:hover,
  .side-panel-block.type-epoch .division-link:hover {
    background: rgba(255, 255, 255, .025);
  }
  .division-link:hover .division-name {
    color: #ccc;
  }
}

@media (max-width: 599px) {
  .division-link {
    padding: 0;
  }
  .division-name {
    border-bottom: none;
  }
  .side-panel-block.type-eon .division-name {
    font-size: 18px;
  }
  .side-panel-block.type-era .division-name {
    font-size: 16px;
  }
  .side-panel-block.type-period .division-name {
    font-size: 15px;
  }
  .side-panel-block.type-epoch .division-name {
    font-size: 14px;
  }
  .division-duration {
    display: none;
  }
}


/*   Expand/Collapse Button   */

.subdivisions-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-left: 15px;
  background: rgba(0, 0, 0, .15);
  color: #888;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: .2s;
}

.side-panel-block.type-era.block-collapsed .subdivisions-button,
.side-panel-block.type-period.block-collapsed .subdivisions-button {
  border-radius: 4px;
  font-size: smaller;
}

.subdivisions-button-triangle {
  animation: fadeIn .3s;
}

@media (hover: hover) {
  .subdivisions-button:hover {
    background: rgba(0, 0, 0, .2);
    color: #999;
  }
}

@media (max-width: 599px) {
  .subdivisions-button {
    width: 34px;
    border-radius: 3px;
    font-size: smaller;
  }
}


/*   Subdivisions   */

.subdivisions-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-basis: 100%;
  padding: 6px 0;
  animation: fadeIn .3s;
}

.vertical-line {
  display: flex;
  height: 100%;
  margin: 0 10px 0 2px;
  border-left: 1px dashed #9e8261;
}

@media (max-width: 599px) {
  .vertical-line {
    display: none;
  }
}
