
:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh + 200px);
}


/*   Header   */

.header {
  display: flex;
  justify-content: center;
  width: min(100% - 30px, 1000px);
  margin: 20px auto 50px auto;
  padding: 15px 0 35px 0;
  border-bottom: 2px dashed #282828;
  color: #9c815f;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media (max-width: 991px) {
  .header {
    margin: 10px auto 20px auto;
    padding: 15px 0 25px 0;
    font-size: 26px;
  }
}

@media (max-width: 599px) {
  .header {
    max-width: calc(100% - 50px);
    font-size: 20px;
  }
}


/*   Intro   */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.intro p {
  max-width: 800px;
  margin-bottom: 15px;
  text-align: justify;
  font-size: 18px;
  letter-spacing: .005em;
}

.intro p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .intro p {
    margin-bottom: 12px;
    font-size: 16px;
    letter-spacing: .01em;
  }
}

@media (max-width: 599px) {
  .intro p {
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
  }
}
