<span 
  class="side-panel-link type-{{dType}}"
  (click)="navigateToDivision(container.name)">{{container.name}} {{container.type}}</span>
<span 
  *ngIf="container.subdivisions.length" 
  class="side-panel-links-container-button type-{{dType}}"
  (click)="toggleSidePanelBlock(container!)">
  <span 
    *ngIf="!container.sidePanelBlockOpen"
    class="side-panel-links-container-button-triangle">&#9660;</span>
  <span 
    *ngIf="container.sidePanelBlockOpen"
    class="side-panel-links-container-button-triangle">&#9650;</span>
</span>
<div 
  *ngIf="container.sidePanelBlockOpen"
  class="side-panel-links-container-subdivisions">
  <app-side-panel-nav-block
    *ngFor="let subdivision of container.subdivisionContainers"
    [container]="subdivision"
    (linkClicked)="navigateToDivision($event)">
  </app-side-panel-nav-block>
</div>
