:host {
  display: block;
  position: relative;
  margin: 4px 0;
  padding: 4px 10px 4px 15px;
  border-radius: 3px;
  text-shadow: 1px 1px #080808;
  letter-spacing: 0.02em;
}

:host:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #111;
  border-radius: 4px;
  box-shadow: 0 0 3px 3px #141414 inset;
}

.side-panel-links-container-subdivisions {
  position: relative;
  z-index: 10;
  animation: fadeIn .3s;
}

.side-panel-link {
  cursor: pointer;
  transition: .2s;
}

@media (hover: hover) {
  .side-panel-link:hover {
    color: #ccc;
  }
}

.side-panel-link.type-eon {
  font-size: 20px;
}

.side-panel-link.type-era {
  font-size: 18px;
}

.side-panel-link.type-period {
  font-size: 17px;
}

.side-panel-link.type-epoch {
  font-size: 16px;
}

.side-panel-links-container-button {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 0 8px;
  background: rgba(0, 0, 0, .15);
  border-radius: 4px;
  font-size: smaller;
  cursor: pointer;
  user-select: none;
}

.side-panel-links-container-button.type-eon {
  height: 25px;
  line-height: 25px;
}

.side-panel-links-container-button.type-era {
  height: 23px;
  line-height: 22px;
}

.side-panel-links-container-button.type-period {
  height: 22px;
  line-height: 21px;
}

.side-panel-links-container-button-triangle {
  animation: fadeIn .3s;
}

@media (max-width: 599px) {
  .side-panel-link.type-eon {
    font-size: 18px;
  }
  .side-panel-link.type-era {
    font-size: 16px;
  }
  .side-panel-link.type-period {
    font-size: 15px;
  }
  .side-panel-link.type-epoch {
    font-size: 14px;
  }
  .side-panel-links-container-button.type-eon {
    height: 23px;
    line-height: 22px;
  }
  .side-panel-links-container-button.type-era {
    height: 21px;
    line-height: 20px;
  }
  .side-panel-links-container-button.type-period {
    height: 21px;
    line-height: 20px;
  }
}
